* {
    padding: 0;
    margin: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../img/yoan-agostini-by-yoan-agostini-flat-design-background-minima.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding: 40px;
    width: auto;
    text-align: center;
}
.container h1 {
    /* padding: 30px; */
    padding: 50px 0 10px 0;
    margin: 40px;
    color: white;
}
.container h2 {
    margin: auto;
    color: white;
}
.container p {
    margin: 20px;
    text-align: center;
    color: white;
}

